<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="warrior_hardware_interface" params="name prefix use_sim use_hardware">

    <ros2_control name="${name}" type="system">

      <hardware>
        <plugin>warrior_hardware/TestHardwareInterface</plugin>
        <param name="test_param_1 ">1.0</param>
        <param name="test_param_2 ">2.0</param>
        <param name="test_param_3 ">3.0</param>
      </hardware>

      <joint name="test_joint1">
        <command_interface name="position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>s
        </command_interface>
        <command_interface name="acceleration">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
      </joint>
      <joint name="test_joint2">
        <command_interface name="position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="acceleration">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
      </joint>
    </ros2_control>
    <ros2_control name="can_hardware" type="system">
      <hardware>
        <plugin>warrior_hardware/ImuHardwareInterface</plugin>
      </hardware>
      <sensor name="imu">
        <state_interface name="pitch"/>
        <state_interface name="yaw"/>
        <state_interface name="roll"/>
      </sensor>
      <joint name="left_9025">
        <command_interface name="position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="torque">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
      </joint>
      <joint name="right_9025">
        <command_interface name="position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="torque">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
      </joint>
    </ros2_control>
    <ros2_control name="serialport" type="system">
      <hardware>
        <plugin>warrior_hardware/Go1HardwareInterface</plugin>
      </hardware>

      <joint name="Go1_LF">
        <command_interface name="position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="torque">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="damp">
        <param name="min">-1</param>
        <param name="max">1</param>
        </command_interface>
        <command_interface name="zero_torque">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="torque_and_position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
      </joint>

      <joint name="Go1_LB">
        <command_interface name="position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="torque">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="damp">
        <param name="min">-1</param>
        <param name="max">1</param>
        </command_interface>
        <command_interface name="zero_torque">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="torque_and_position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
      </joint>

      <joint name="Go1_RF">
        <command_interface name="position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="torque">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="damp">
        <param name="min">-1</param>
        <param name="max">1</param>
        </command_interface>
        <command_interface name="zero_torque">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="torque_and_position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
      </joint>
      
      <joint name="Go1_RB">
        <command_interface name="position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="torque">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="damp">
        <param name="min">-1</param>
        <param name="max">1</param>
        </command_interface>
        <command_interface name="zero_torque">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <command_interface name="torque_and_position">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="acceleration"/>
      </joint>

    </ros2_control>
  </xacro:macro>

</robot>